.navbar {
  display: flex;
  list-style-type: none;
  background-color: #cccccc;
  padding: 1rem;
}

.navbar li {
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.navbar li a {
  text-decoration: none;
  color: #000000;
}

.navbar li.active {
  background-color: #a5a5a5;
}